


<div class="bg-surface-0 dark:bg-surface-900">
    <div id="home" class="landing-wrapper overflow-hidden">
        <app-topbar-client class="py-6 px-6 mx-0 md:mx-12 lg:mx-20 lg:px-20 flex items-center justify-between fix lg:static" />
            <div id="hero" class="flex flex-col pt-6 px-6 lg:px-20 overflow-hidden" style="background-color:#bee5ff;">
                <div class="grid grid-cols-12 p-2 md:p-20  justify-center" style="margin-top: -80px;">
                    <div class="col-span-12 text-center mt-20 mb-6">
                        <div class="text-surface-900 dark:text-surface-0 font-semibold text-3xl">Nom du service</div>
                    </div>
                    <div class="col-span-12 md:col-span-12 lg:col-span-4 p-0 lg:pr-8 lg:pb-8 mt-6 lg:mt-0">
                        <div style="min-height: 160px; padding: 2px; border-radius: 10px;  background: linear-gradient(90deg, rgba(1, 18, 0, 0.2), rgba(45, 0, 0, 0.2)), linear-gradient(180deg, rgba(28, 0, 29, 0.2), rgba(0, 17, 31, 0.2))">
                            <div class="p-4 bg-surface-0 dark:bg-surface-900" style="border-radius: 8px; background-color:#fff7f6">
                                <div class="flex items-center justify-center bg-yellow-200 mb-4" style="width: 3.5rem; height: 3.5rem; border-radius: 10px">
                                    <i class="pi pi-fw pi-users !text-2xl text-yellow-700"></i>
                                </div>
                                <h5 class="mb-2 text-surface-900 dark:text-surface-0">Liste tache</h5>
                                <p class="text-surface-600 dark:text-surface-200 break-words">
                                    test
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-12 lg:col-span-4 p-0 lg:pr-8 lg:pb-8 mt-6 lg:mt-0">
                        <div style="min-height: 160px; padding: 2px; border-radius: 10px;  background: linear-gradient(90deg, rgba(1, 18, 0, 0.2), rgba(45, 0, 0, 0.2)), linear-gradient(180deg, rgba(28, 0, 29, 0.2), rgba(0, 17, 31, 0.2))">
                            <div class="p-4 bg-surface-0 dark:bg-surface-900" style="border-radius: 8px; background-color:#fff7f6">
                                <div class="flex items-center justify-center bg-yellow-200 mb-4" style="width: 3.5rem; height: 3.5rem; border-radius: 10px">
                                    <i class="pi pi-fw pi-users !text-2xl text-yellow-700"></i>
                                </div>
                                <h5 class="mb-2 text-surface-900 dark:text-surface-0">Liste tache</h5>
                                <p class="text-surface-600 dark:text-surface-200 break-words">
                                    test
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 text-center mt-5">
                        <button style="font-size: 17px;" pButton pRipple label="Devis du service" (click)="generatePDF()" [rounded]="true" ></button>
                        <button style="font-size: 17px;margin-left:10px;color:rgb(91, 91, 91);background-color:rgb(254, 254, 113);border-color:rgb(254, 254, 113)" pButton pRipple label="Prise rendez vous" [rounded]="true" (click)="showDialog()"></button>
                    </div>
                </div>
            </div>
        <app-footer-client />
    </div>
</div>


<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '40rem' }">
    <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
            <p-avatar image="assets/img/logo.jpg" shape="circle" />
            <span class="font-bold whitespace-nowrap">Amy Elsner</span>
        </div>
    </ng-template>
    <span class="text-surface-500 dark:text-surface-400 block mb-8">Entrer les information du rendez vous</span>

        <p-message closable severity="error">Desoler le cette date a deja ete prix</p-message>
        <br>
    <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Type de vehicule </label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-2">
        <label for="email" class="font-semibold w-24">Matriculation</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-2">
        <label for="email" class="font-semibold w-24">Date</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-2">
        <label for="email" class="font-semibold w-24">Heure debut</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-2">
        <label for="email" class="font-semibold w-24">Nombre de mecanicien</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <br>
    <span class="text-surface-500 dark:text-surface-400 block mb-8"><strong>NB: <b style="color: white;">r</b></strong>le prix du devise change en fonction du nombre de mecanicien choisi</span>
    <ng-template #footer>
        <p-button label="Cancel" [text]="true" severity="secondary" (click)="visible = false" />
        <p-button label="Save" [outlined]="true" severity="secondary" (click)="visible = false" />
    </ng-template>
</p-dialog>







