<div class="bg-surface-0 dark:bg-surface-900">
    <div id="home" class="landing-wrapper overflow-hidden">
        <app-topbar-client class="py-6 px-6 mx-0 md:mx-12 lg:mx-20 lg:px-20 flex items-center justify-between fix lg:static" />
            <div id="hero" class="flex flex-col pt-6 px-6 lg:px-20 overflow-hidden" style="background-color:#bee5ff;">
                <div class="grid grid-cols-12 p-2 md:p-20  justify-center" style="margin-top: -80px;">
                    <div class="col-span-12 text-center mt-20 mb-6">
                        <div class="text-surface-900 dark:text-surface-0 font-semibold text-3xl">Nom du service</div>
                    </div>

                    <div class="col-span-12 md:col-span-12 lg:col-span-4 p-0 lg:pr-8 lg:pb-8 mt-6 lg:mt-0">
                        <div style="min-height: 160px; padding: 2px; border-radius: 10px;  background: linear-gradient(90deg, rgba(1, 18, 0, 0.2), rgba(45, 0, 0, 0.2)), linear-gradient(180deg, rgba(28, 0, 29, 0.2), rgba(0, 17, 31, 0.2))">
                            <div class="p-4 bg-surface-0 dark:bg-surface-900" style="border-radius: 8px; background-color:#fff7f6">
                                <div class="flex items-center justify-center bg-yellow-200 mb-4" style="width: 3.5rem; height: 3.5rem; border-radius: 10px">
                                    <i class="pi pi-fw pi-users !text-2xl text-yellow-700"></i>
                                </div>
                                <h5 class="mb-2 text-surface-900 dark:text-surface-0">Liste tache</h5>
                                <p class="text-surface-600 dark:text-surface-200 break-words">
                                    test
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-12 lg:col-span-4 p-0 lg:pr-8 lg:pb-8 mt-6 lg:mt-0">
                        <div style="min-height: 160px; padding: 2px; border-radius: 10px;  background: linear-gradient(90deg, rgba(1, 18, 0, 0.2), rgba(45, 0, 0, 0.2)), linear-gradient(180deg, rgba(28, 0, 29, 0.2), rgba(0, 17, 31, 0.2))">
                            <div class="p-4 bg-surface-0 dark:bg-surface-900" style="border-radius: 8px; background-color:#fff7f6">
                                <div class="flex items-center justify-center bg-yellow-200 mb-4" style="width: 3.5rem; height: 3.5rem; border-radius: 10px">
                                    <i class="pi pi-fw pi-users !text-2xl text-yellow-700"></i>
                                </div>
                                <h5 class="mb-2 text-surface-900 dark:text-surface-0">Liste tache</h5>
                                <p class="text-surface-600 dark:text-surface-200 break-words">
                                    test
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-12 lg:col-span-4 p-0 lg:pr-8 lg:pb-8 mt-6 lg:mt-0">
                        <div style="min-height: 160px; padding: 2px; border-radius: 10px;  background: linear-gradient(90deg, rgba(1, 18, 0, 0.2), rgba(45, 0, 0, 0.2)), linear-gradient(180deg, rgba(28, 0, 29, 0.2), rgba(0, 17, 31, 0.2))">
                            <div class="p-4 bg-surface-0 dark:bg-surface-900" style="border-radius: 8px; background-color:#fff7f6">
                                <div class="flex items-center justify-center bg-yellow-200 mb-4" style="width: 3.5rem; height: 3.5rem; border-radius: 10px">
                                    <i class="pi pi-fw pi-users !text-2xl text-yellow-700"></i>
                                </div>
                                <h5 class="mb-2 text-surface-900 dark:text-surface-0">Liste tache</h5>
                                <p class="text-surface-600 dark:text-surface-200 break-words">
                                    test
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-12 lg:col-span-4 p-0 lg:pr-8 lg:pb-8 mt-6 lg:mt-0">
                        <div style="min-height: 160px; padding: 2px; border-radius: 10px;  background: linear-gradient(90deg, rgba(1, 18, 0, 0.2), rgba(45, 0, 0, 0.2)), linear-gradient(180deg, rgba(28, 0, 29, 0.2), rgba(0, 17, 31, 0.2))">
                            <div class="p-4 bg-surface-0 dark:bg-surface-900" style="border-radius: 8px; background-color:#fff7f6">
                                <div class="flex items-center justify-center bg-yellow-200 mb-4" style="width: 3.5rem; height: 3.5rem; border-radius: 10px">
                                    <i class="pi pi-fw pi-users !text-2xl text-yellow-700"></i>
                                </div>
                                <h5 class="mb-2 text-surface-900 dark:text-surface-0">Liste tache</h5>
                                <p class="text-surface-600 dark:text-surface-200 break-words">
                                    test
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-12 lg:col-span-4 p-0 lg:pr-8 lg:pb-8 mt-6 lg:mt-0">
                        <div style="min-height: 160px; padding: 2px; border-radius: 10px;  background: linear-gradient(90deg, rgba(1, 18, 0, 0.2), rgba(45, 0, 0, 0.2)), linear-gradient(180deg, rgba(28, 0, 29, 0.2), rgba(0, 17, 31, 0.2))">
                            <div class="p-4 bg-surface-0 dark:bg-surface-900" style="border-radius: 8px; background-color:#fff7f6">
                                <div class="flex items-center justify-center bg-yellow-200 mb-4" style="width: 3.5rem; height: 3.5rem; border-radius: 10px">
                                    <i class="pi pi-fw pi-users !text-2xl text-yellow-700"></i>
                                </div>
                                <h5 class="mb-2 text-surface-900 dark:text-surface-0">Liste tache</h5>
                                <p class="text-surface-600 dark:text-surface-200 break-words">
                                    test
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-12 lg:col-span-4 p-0 lg:pr-8 lg:pb-8 mt-6 lg:mt-0">
                        <div style="min-height: 160px; padding: 2px; border-radius: 10px;  background: linear-gradient(90deg, rgba(1, 18, 0, 0.2), rgba(45, 0, 0, 0.2)), linear-gradient(180deg, rgba(28, 0, 29, 0.2), rgba(0, 17, 31, 0.2))">
                            <div class="p-4 bg-surface-0 dark:bg-surface-900" style="border-radius: 8px; background-color:#fff7f6">
                                <div class="flex items-center justify-center bg-yellow-200 mb-4" style="width: 3.5rem; height: 3.5rem; border-radius: 10px">
                                    <i class="pi pi-fw pi-users !text-2xl text-yellow-700"></i>
                                </div>
                                <h5 class="mb-2 text-surface-900 dark:text-surface-0">Liste tache</h5>
                                <p class="text-surface-600 dark:text-surface-200 break-words">
                                    test
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-12 lg:col-span-4 p-0 lg:pr-8 lg:pb-8 mt-6 lg:mt-0">
                        <div style="min-height: 160px; padding: 2px; border-radius: 10px;  background: linear-gradient(90deg, rgba(1, 18, 0, 0.2), rgba(45, 0, 0, 0.2)), linear-gradient(180deg, rgba(28, 0, 29, 0.2), rgba(0, 17, 31, 0.2))">
                            <div class="p-4 bg-surface-0 dark:bg-surface-900" style="border-radius: 8px; background-color:#fff7f6">
                                <div class="flex items-center justify-center bg-yellow-200 mb-4" style="width: 3.5rem; height: 3.5rem; border-radius: 10px">
                                    <i class="pi pi-fw pi-users !text-2xl text-yellow-700"></i>
                                </div>
                                <h5 class="mb-2 text-surface-900 dark:text-surface-0">Liste tache</h5>
                                <p class="text-surface-600 dark:text-surface-200 break-words">
                                    test
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 text-center mt-5 ">
                        <button style="font-size: 17px;" pButton pRipple label="Devis du service" routerLink="/auth/login" [rounded]="true" ></button>
                        <button style="font-size: 17px;" pButton pRipple label="Devis du service" routerLink="/auth/login" [rounded]="true" ></button>
                    </div>

                </div>
            </div>
        <app-footer-client />
    </div>
</div>
