<div class="card !mb-8">
    <div class="flex">
        <p class="font-semibold text-xl mb-4">Nombre d'intervention par mécanicien</p>
        <div class="flex gap-3 mb-3 w-[50%]">
            <p-calendar  view="date" dateFormat="dd" placeholder="Jour"></p-calendar>
            <p-calendar  view="month" dateFormat="mm" placeholder="Mois"></p-calendar>
            <p-calendar  view="year" dateFormat="yy" placeholder="Année"></p-calendar>
            <p-button icon="pi pi-search"/>
        </div>
    </div>
    <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
</div>
