<div class="layout-topbar">
    <div class="layout-topbar-logo-container">
        <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
        <a class="layout-topbar-logo" routerLink="/">
            <img src="assets/img/logo.jpg" width="45px;">
            <span>GAR'ANJA</span>
        </a>
    </div>

    <div class="layout-topbar-actions">
        <button pButton pRipple icon="pi pi-sign-out"  [rounded]="true" style="background-color: red;border:none" (click)="logout()"></button>
    </div>
</div>
