<div id="hero" class="flex flex-col pt-6 px-6 lg:px-20 overflow-hidden"
    style="background-color:#97D5FF; clip-path: ellipse(130% 87% at 93% 13%)">
    <div class="mx-6 md:mx-20 mt-0 md:mt-6">
        <h1 class="text-6xl font-bold text-gray-900 leading-tight"><span class="font-light block"></span>Votre garage,
            votre
            confiance</h1>
        <p class="font-normal text-2xl leading-normal md:mt-4 text-gray-700">Entretien,
            réparation, excellence. Parce que votre véhicule mérite le
            meilleur.</p>
        <button (click)="goToFeatures()" pButton pRipple [rounded]="true" type="button" label="Voir nos services"
            class="!text-xl mt-8 !px-4">
        </button>
    </div>
    <div class="flex justify-center md:justify-end">
        <img src="assets/img/garage.gif" width="500px;" />
    </div>
</div>
