<div class="flex justify-end gap-3 mb-3 ">
    <p-calendar  view="month" dateFormat="mm" placeholder="Mois"></p-calendar>
    <p-calendar  view="year" dateFormat="yy" placeholder="Année"></p-calendar>
</div>
<div class="grid grid-cols-12 gap-8">

    <app-dashboard-kpi class="contents" />
    <div class="col-span-12 xl:col-span-6">
        <app-dashboard-chart-bar/>
        <app-dashboard-chart-donut/>
    </div>
    <div class="col-span-12 xl:col-span-6">
        <app-dashboard-chart-linear/>
        <app-dashboard-chart-horizontal-bar/>
    </div>
</div>

