<a class="flex items-center" href="#">
    <img src="assets/img/logo.jpg" width="45px;">
    <span class="text-surface-900 dark:text-surface-0 font-medium text-2xl leading-normal mr-20">GAR'ANJA</span>
</a>

<a pButton [text]="true" severity="secondary" [rounded]="true" pRipple class="lg:!hidden" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
    <i class="pi pi-bars !text-2xl"></i>
</a>

<div class="items-center bg-surface-0 dark:bg-surface-900 grow justify-between hidden lg:flex absolute lg:static w-full left-0 top-full px-12 lg:px-0 z-20 rounded-border">
    <ul class="list-none p-0 m-0 flex lg:items-center select-none flex-col lg:flex-row cursor-pointer gap-8">
        <li>
            <a (click)="goToSection('home')" pRipple
                class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a (click)="goToSection('highlights')" pRipple
                class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>A propos</span>
            </a>
        </li>
        <li>
            <a (click)="goToSection('features')" pRipple
                class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Nos services</span>
            </a>
        </li>
        <!-- <li>
            <a  pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl" routerLink="/diagnostic">
                <span>Diagnostic</span>
            </a>
        </li> -->
        <li>
            <a  pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl" (click)="showDialog()">
                <span>Faire un devis</span>
            </a>
        </li>
        <li>
            <a  pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl" (click)="goAvancement()">
                <span>Avancement</span>
            </a>
        </li>
    </ul>
    <div *ngIf="!clientrolechek"  class="flex border-t lg:border-t-0 border-surface py-4 lg:py-0 mt-4 lg:mt-0 gap-2">
        <button pButton pRipple label="Login" routerLink="/login" [rounded]="true" [text]="true" ></button>
        <button pButton pRipple label="register" routerLink="/inscription" [rounded]="true" ></button>
    </div>
    <div *ngIf="clientrolechek"  class="flex border-t lg:border-t-0 border-surface py-4 lg:py-0 mt-4 lg:mt-0 gap-2">
        <button pButton pRipple icon="pi pi-sign-out"  [rounded]="true" style="background-color: red;border:none" (click)="logout()"></button>
    </div>
</div>


<p-dialog header="Entrer ces informations" [modal]="true" [(visible)]="visible" [style]="{ height: '30rem', width: '30rem' }">
    <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Categorie vehicule</label>
        <p-select id="username"
            [options]="categorie"
            placeholder="Categorie Vehicule"
            [editable]="true"
            optionLabel="name"
             optionValue="id"
            class="w-full"
            [(ngModel)]="catv"
            (ngModelChange)="loadModele()"
        />
    </div>
    <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Modele vehicule</label>
        <p-select id="email"
        [options]="modele"
        placeholder="Modele Vehicule"
        [editable]="true"
        optionLabel="name"
         optionValue="id"
        class="w-full"
        [(ngModel)]="modeleVehicule"
    />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Save" (click)="visible = false;getPieces()" />
    </div>
</p-dialog>
